@model WebsiteTuyenSinh.Models.SinhVienTieuBieuViewModel

@{
    ViewBag.Title = "Sinh viên tiêu biểu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block-nopadding no-padding-home">
    <div class="content noidung">
        <div class="col-sm-9 no-padding-left padding-right-5">
            <!-- Template Start: site/news/WrapListNews -->
            <div class="list-news block-content nopadding">
                <div class="header-block">
                    <img class="icon-tin-tuyen-sinh" src="~/assets/client/img/img_blank.gif" />
                    <span class="title-block text-blue">HỌC SINH - SINH VIÊN TIÊU BIỂU</span>
                </div>
                <div class="content-block">
                    @foreach (var item in Model.TinSinhVien)
                    {
                        <div class="item">
                            <div class="col-sm-3 no-padding-left">
                                <a href="/sinh-vien-tieu-bieu/@item.TinTucLink-@item.ID">
                                    <img class="img-responsive" alt="" src="http://api-bantuyensinh.cdktcnqn.edu.vn/@item.HinhThuNho" />
                                </a>
                            </div>
                            <div class="col-sm-9 no-padding-left text-justify">
                                <a href="/sinh-vien-tieu-bieu/@item.TinTucLink-@item.ID" class="news-title">
                                    @item.TieuDe
                                </a>
                                <span class="des_news">
                                    @item.TomTat
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Template End: site/news/WrapListNews -->


        </div>
        <div class="col-sm-3 nopadding">
            <div class="block-content">
                <div class="header-block">
                    <img class="icon-tin-noi-bat" src="~/assets/client/img/img_blank.gif">
                    <span class="title-block text-red">
                        <div class="title-right"> Thông tin mới</div>
                    </span>
                </div>
                <div class="content-block">
                    @foreach (var item in Model.TinLienQuanTuyenSinh)
                    {
                        <ul class="latestnews">
                            <li class="wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                                <a class="latestnews" href="/tin-tuyen-sinh/@item.TinTucLink-@item.ID">
                                    @item.TieuDe
                                </a>
                            </li>
                        </ul>
                    }

                    <div class="col-sm-12 text-right padding wow slideInUp animated animated" style="visibility: visible; animation-name: slideInUp;">
                        <a href="/tin-tuyen-sinh/thong-bao-tuyen-sinh" class="text-red text-bold"><i class="fa fa-plus-square fa-1 text-red" aria-hidden="true"></i> Xem tất cả</a>
                    </div>
                </div>
            </div>
            <div class="block-content">
                @foreach (var item in Model.TinLienQuan)
                {    <div class="tinlienquan">
                    <a style="background-color:@item.Mau;" href="@item.LienKet">
                        <span class="top" style="display:inline-block;">&nbsp;&nbsp;@item.TieuDe</span>
                    </a>
                </div>
                }
            </div>
            @* Liên kết đăng ký trực tuyến *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Đăng ký trực tuyến</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/dang-ky">
                        <img class="wi-100" src="~/assets/client/img/banner/img/DANGKYTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Đăng ký tư vấn trực tiếp *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Hỏi đáp</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/hoi-dap">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TUVANTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Tra cứu kết quả *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Tra cứu kết quả</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/ket-qua">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TRACUUKETQUA.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Template End: site/news/WrapListNews -->
</div>
