@model IEnumerable<WebsiteTuyenSinh.Models.PhongKhoa_NgheViewModel>

@{
    ViewBag.Title = "Đăng ký xét tuyển trực tuyến cao đẳng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-nopadding no-padding-home">
    <div class="content noidung" style="background-color:white;">
        @using (Html.BeginForm("cao-dang", "dang-ky", FormMethod.Post))
        {
            <div class="row ">
                <div class="col-sm-12">
                    <p class="titlepax text-center mt-10">ĐĂNG KÝ XÉT TUYỂN TRỰC TUYẾN HỆ CAO ĐẲNG</p>
                </div>
            </div>
            <div class="container blockContent">
                <div class="row mt-10">
                    <div class="col-sm-12">
                        <img class="img-responsive center-block" src="~/assets/client/img/thong-tin-dang-ky.png">
                    </div>
                </div>
                <div class="syllView">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup">
                                <span class="input-group-addon"><label>Họ và tên</label></span>
                                <input id="HoTen" class="form-control text-center" type="text" placeholder="Nhập họ và tên">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon "><label>Ngày, tháng, năm sinh</label></span>
                                <input id="NgaySinh" class="form-control text-center datepicker" type="text" placeholder="Nhập ngày/tháng/năm sinh">

                            </div>
                        </div>
                        @*<div class="col-xs-12 col-md-6 mb-10">

                            </div>*@
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  mb-10">
                                <span class="input-group-addon"><label>Giới tính</label></span>
                                <select id="GioiTinh" class="form-control text-center">
                                    <option label="-Chọn-" value="0" selected="selected" class="text-center">-Chọn-</option>
                                    <option label="Nam" value="1" class="text-center">Nam</option>
                                    <option label="Nữ" value="-1" class="text-center">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon "><label>Hộ khẩu thường trú</label></span>
                                <input id="HKTT" class="form-control text-center" type="text" placeholder="Nhập hộ khẩu thường trú">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon "><label>Địa chỉ</label></span>
                                <input id="DiaChi" class="form-control text-center" type="text" placeholder="Nhập địa chỉ liên hệ">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon"><label>Điện thoại</label></span>
                                <input id="SoDienThoai" class="form-control text-center" type="text" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  mb-10">
                                <span class="input-group-addon"><label>Email</label></span>
                                <input id="Email" class="form-control text-center" type="email" placeholder="Nhập email">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group   mb-10">
                                <span class="input-group-addon"><label>Facebook</label></span>
                                <input id="Facebook" class="form-control text-center" type="text" placeholder="Nhập facebook">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon "><label>Tên trường THPT đã tốt nghiệp</label></span>
                                <input id="TenTruongTotNghiep" class="form-control text-center" type="text" placeholder="Nhập tên trường THPT đã tốt nghiệp">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 mb-10">
                            <div class="input-group  validate-inputgroup mb-10">
                                <span class="input-group-addon "><label>Chọn nghề đăng ký xét tuyển</label></span>
                                <select class="form-control text-center" id="NgheID">
                                    <option value="0" selected="selected">-Chọn-</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.ID">@item.TenNghe</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group  validate-inputgroup">
                                <span class="input-group-addon" style="border:1px solid #ccc;"><label>Điểm trung bình</label></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group  validate-inputgroup">
                                <input id="DiemLop10" class="form-control text-center" type="number" placeholder="Lớp 10">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group  validate-inputgroup">
                                <input id="DiemLop11" class="form-control text-center" type="number" placeholder="Lớp 11">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group  validate-inputgroup">
                                <input id="DiemLop12" class="form-control text-center" type="number" placeholder="Lớp 12">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label style="padding-top:6px;font-size:16px;">
                                Tổng điểm: <label style="font-weight:bold;color:blue;" id="lblTongDiem">0</label>
                            </label>

                        </div>
                        <div class="row">
                            <div class="center-block">
                                <b class="text-danger">*Lưu ý:</b> Điểm trung bình nhập phần số lẻ theo định dạng mẫu, ví dụ: <b>7.5</b> <i>(bảy chấm năm)</i>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="block">
                <div class="center-block mb-10">
                    <div class="row mt-15">
                        <div class="center-block">
                            <b class="text-danger"><i>Thí sinh bắt buộc điền đầy đủ những mục có dấu (<span class="text-danger">*</span>)</i></b>
                        </div>
                    </div>
                    <div class="text-center mt-10">
                        <button type="button" class="btn btn-success btnDangKy">Đăng ký</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/assets/client/jsdb/DangKyCaoDangjs.js"></script>
}
