@model WebsiteTuyenSinh.Models.GioiThieuTruongViewModel
@{
    ViewBag.Title = "Đoàn thanh niên";
    Layout = "~/Views/Shared/_RightBody.cshtml";
}

    <div class="block-nopadding no-padding-home">
        <div class="content noidung">
            <div class="content-block">
                <panel id="contentnews">
                    @Html.Raw(Model.NoiDung)
                </panel>
            </div>
            <div class="addthis_inline_share_toolbox pull-right"></div>
        </div>
    </div>