@model WebsiteTuyenSinh.Models.TuVanTrucTuyenViewModel

@{
    ViewBag.Title = "Hỏi đáp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-nopadding no-padding-home">
    <div class="content noidung">
      
        <div class="col-sm-3 nopadding">
            @* Form cau hỏi *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Gửi câu hỏi</span>
                    </div>
                </div>
                <div class="content-block">
                    <div class="col-xs-12 mb-10">
                        <input class="form-control text-center TuVan" id="HoTen" type="text" placeholder="Họ và tên (*)">
                    </div>
                    <div class="col-xs-12 mb-10">
                        <input class="form-control text-center TuVan" id="NamSinh" type="text" placeholder="Năm sinh">
                    </div>
                    <div class="col-xs-12 mb-10">
                        <input class="form-control text-center TuVan" id="DiaChi" type="text" placeholder="Địa chỉ liên hệ">
                    </div>
                    <div class="col-xs-12 mb-10">
                        <input class="form-control text-center TuVan" id="EmailNguoiHoi" type="email" placeholder="Email">
                    </div>
                    <div class="col-xs-12 mb-10">
                        <input class="form-control text-center TuVan" id="SoDienThoai" type="text" placeholder="Số điện thoại (*)">
                    </div>
                    <div class="col-xs-12 mb-10">
                        <textarea class="TuVan text-center"  placeholder="Nội dung câu hỏi (*)" id="CauHoi" rows="5"></textarea>
                    </div>
                    <div class="col-xs-12 mb-10">
                        <div class="center-block">
                            <div class="text-center">
                                <button type="button" class="btn btn-success btnGuiCauHoi">Gửi câu hỏi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/client/jsdb/GuiCauHoijs.js"></script>
}
