
/* CSS Document */
/* body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {
            margin: 0;
            padding: 0;
        }
        body { background-color: #fafafa; }

        body, button, input, select, textarea {
            font: 12px/1.5 'Roboto';
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 100%;
        }

        em, i {
            font-style: normal;
        }

        fieldset, img {
            border: 0;
        }

        img {
            display: block;
        }

        ul, ol {
            list-style: none;
        }

        a {
            text-decoration: none;
            outline: none;
        }

        a:hover {
            text-decoration: underline;
        }*/
/*   .clear {
            clear: both;
            display: block;
            height: 0;
            overflow: hidden;
            font-size: 0;
        }

        .container { margin: 150px auto; max-width: 960px; }

        button, input, select, textarea {
            font-size: 100%;
            outline: none
        }*/
/*    table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .hide {
            display: none;
        }

        .l {
            float: left;
        }

        .r {
            float: right;
        }

        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .clearfix {
            zoom: 1;
        }*/
.imgScrollWrap, .imgScrollWrap_1 {
    position: relative;
    /* width: 1000px; */
    height: 120px;
    border: 1px #999 solid;
    overflow: hidden;
}

.imgScrollBtn01, .imgScrollBtn02, .imgScrollBtn01_1, .imgScrollBtn02_1 {
    position: absolute;
    display: block;
    width: 22px;
    height: 40px;
    background: url(../img/banner/mainBG.png) no-repeat 0 0;
    overflow: hidden;
    z-index: 2;
}

.imgScrollBtn01, .imgScrollBtn01_1 {
    top: 40px;
    left: 0;
}

.imgScrollBtn02, .imgScrollBtn02_1 {
    top: 40px;
    right: 0;
    background-position: -22px 0;
}

.imgScrollBtn01:hover, .imgScrollBtn01_1:hover {
    background-position: 0 -40px;
}

.imgScrollBtn02:hover, .imgScrollBtn02_1:hover {
    background-position: -22px -40px;
}

.imgScrollList, .imgScrollList_1 {
    position: absolute;
    top: 0;
    left: 20px;
    width: 1000px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
}

    .imgScrollList ul, .imgScrollList_1 ul {
        position: relative;
        width: 9999px;
        height: 120px;
    }

    .imgScrollList li, .imgScrollList_1 li {
        float: left;
        width: 560px;
        height: 120px;
        overflow: hidden;
    }

        .imgScrollList li a, .imgScrollList_1 li a {
            float: left;
            margin: 12px 6px;
            width: 128px;
            height: 96px;
            overflow: hidden;
        }

.imgScrollWrap_v, .imgScrollWrap_v_1 {
    position: relative;
    width: 152px;
    height: 472px;
    border: 1px #999 solid;
    overflow: hidden;
}

.imgScrollBtn01_v, .imgScrollBtn02_v, .imgScrollBtn01_v_1, .imgScrollBtn02_v_1 {
    position: absolute;
    display: block;
    width: 40px;
    height: 22px;
    background: url(../img/banner/mainBG_v.png) no-repeat 0 0;
    overflow: hidden;
    z-index: 2;
}

.imgScrollBtn01_v, .imgScrollBtn01_v_1 {
    top: 0;
    left: 56px;
}

.imgScrollBtn02_v, .imgScrollBtn02_v_1 {
    bottom: 0;
    left: 56px;
    background-position: 0 -22px;
}

.imgScrollBtn01_v:hover, .imgScrollBtn01_v_1:hover {
    background-position: -40px 0;
}

.imgScrollBtn02_v:hover, .imgScrollBtn02_v_1:hover {
    background-position: -40px -22px;
}

.imgScrollList_v, .imgScrollList_v_1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 152px;
    height: 432px;
    overflow: hidden;
    z-index: 1;
}

    .imgScrollList_v ul.imgScrollList_v_1 ul {
        position: relative;
        height: 9999px;
        width: 152px;
    }

    .imgScrollList_v li, .imgScrollList_v_1 li {
        width: 152px;
        height: 432px;
        overflow: hidden;
    }

        .imgScrollList_v li a, .imgScrollList_v_1 li a {
            display: block;
            margin: 6px 12px 12px;
            width: 128px;
            height: 96px;
            overflow: hidden;
        }






.imgScrollWrap_1, .imgScrollWrap_3 {
    position: relative;
    height: 120px;
    border: 1px #fffefe solid;
    overflow: hidden;
}


.imgScrollBtn01_1, .imgScrollBtn02_1, .imgScrollBtn01_3, .imgScrollBtn02_3 {
    position: absolute;
    display: block;
    width: 22px;
    height: 40px;
    background: url(../img/banner/mainBG.png) no-repeat 0 0;
    overflow: hidden;
    z-index: 2;
}

.imgScrollBtn01_1, .imgScrollBtn01_3 {
    top: 40px;
    left: 0;
}

.imgScrollBtn02_1, .imgScrollBtn02_3 {
    top: 40px;
    right: 0;
    background-position: -22px 0;
}

.imgScrollBtn01_1:hover, .imgScrollBtn01_3:hover {
    background-position: 0 -40px;
}

.imgScrollBtn02_1:hover, .imgScrollBtn02_1:hover {
    background-position: -22px -40px;
}

.imgScrollList_1, .imgScrollList_3 {
    position: absolute;
    top: 0;
    left: -34px;
    width: 1032px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
}

    .imgScrollList_1 ul, .imgScrollList_3 ul {
        position: relative;
        width: 9999px;
        height: 120px;
    }

    .imgScrollList_1 li, .imgScrollList_3 li {
        float: left;
        width: 141px;
        height: 120px;
        overflow: hidden;
    }

        .imgScrollList_1 li a, .imgScrollList_3 li a {
            float: left;
            margin: 12px 6px;
            width: 128px;
            height: 96px;
            overflow: hidden;
        }

.imgScrollWrap_v_2, .imgScrollWrap_v_3 {
    position: relative;
    width: 152px;
    height: 472px;
    border: 1px #999 solid;
    overflow: hidden;
}

.imgScrollBtn01_v_2, .imgScrollBtn02_v_2, .imgScrollBtn01_v_3, .imgScrollBtn02_v_3 {
    position: absolute;
    display: block;
    width: 40px;
    height: 22px;
    background: url(images/mainBG_v.png) no-repeat 0 0;
    overflow: hidden;
    z-index: 2;
}

.imgScrollBtn01_v_2, .imgScrollBtn01_v_3 {
    top: 0;
    left: 56px;
}

.imgScrollBtn02_v_2, .imgScrollBtn02_v_3 {
    bottom: 0;
    left: 56px;
    background-position: 0 -22px;
}

.imgScrollBtn01_v_2:hover, .imgScrollBtn01_v_3:hover {
    background-position: -40px 0;
}

.imgScrollBtn02_v_2:hover, .imgScrollBtn02_v_3:hover {
    background-position: -40px -22px;
}

.imgScrollList_v_2, .imgScrollList_v_3 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 152px;
    height: 432px;
    overflow: hidden;
    z-index: 1;
}

    .imgScrollList_v_2 ul, .imgScrollList_v_3 ul {
        position: relative;
        height: 9999px;
        width: 152px;
    }

    .imgScrollList_v_2 li, .imgScrollList_v_3 li {
        width: 152px;
        height: 108px;
        overflow: hidden;
    }

        .imgScrollList_v_2 li a, .imgScrollList_v_3 li a {
            display: block;
            margin: 6px 12px;
            width: 128px;
            height: 96px;
            overflow: hidden;
        }

/*    h1{
            font-size: 32px;
            text-align: center;
        }

        p{
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            margin: 1rem auto;
        }*/


