@model List<WebsiteTuyenSinh.Models.PhongKhoaViewModel>
@{
    ViewBag.Title = "Danh sách khoa";
    Layout = "~/Views/Shared/_RightBody.cshtml";
}

    <div class="block-nopadding no-padding-home">
        <div class="content noidung">
            <p class="titlepax text-center mt-10 text-blue">DANH SÁCH KHOA</p>
            @foreach (var item in Model)
            {
                if (item.isPhong == false)
                {
                    <div class="col-xs-12 col-md-6" style="margin-bottom:20px">
                        <a href="/phong-khoa/@item.PhongKhoaLink/@item.ID" class="ChiTietNghe">
                            <img style="width:100%;" src="http://api.cdktcnqn.edu.vn/@item.HinhAnh" alt="TRƯỜNG CAO ĐẲNG KỸ THUẬT CÔNG NGHỆ QUY NHƠN, TRƯỜNG NGHỀ CHẤT LƯỢNG CAO TẠI VIỆT NAM">
                        </a>
                    </div>
                }
            }
        </div>
    </div>