@model WebsiteTuyenSinh.Models.NgheDaoTaoViewModel
@{
    ViewBag.Title = "Nghề đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-nopadding no-padding-home">
    <div class="content noidung">
        <div class="col-sm-9 no-padding-left padding-right-5">
            <div class="col-sm-12 block-content nopadding">
                <div class="row ">
                    <div class="col-sm-12">
                        <p class="titlepax text-center mt-10">
                            Danh mục nghề đào tạo
                        </p>
                    </div>
                </div>
                @foreach (var item in Model.NgheDaoTao)
                {
                    <div class="col-xs-12 col-md-6" style="margin-bottom:20px">
                        <a href="/danh-muc-nghe/@item.NgheLink-@item.ID" class="ChiTietNghe">
                            <img style="width:100%;" src="http://api.cdktcnqn.edu.vn/@item.HinhAnh" alt="TRƯỜNG CAO ĐẲNG KỸ THUẬT CÔNG NGHỆ QUY NHƠN, TRƯỜNG NGHỀ CHẤT LƯỢNG CAO TẠI VIỆT NAM">
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-3 nopadding">
            @* Form cau hỏi *@
            <div class="block-content">
                <div class="header-block">
                    <img class="icon-tin-noi-bat" src="~/assets/client/img/img_blank.gif" />
                    <span class="title-block text-red">
                        <div class="title-right"> Thông tin mới</div>
                    </span>
                </div>
                <div class="content-block">

                    @foreach (var item in Model.TinTuyenSinh)
                    {
                        <ul class="latestnews">
                            <li class="wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                                <a class="latestnews" href="/tin-tuyen-sinh/@item.TinTucLink-@item.ID">
                                    @item.TieuDe
                                </a>
                            </li>
                        </ul>
                    }

                    <div class="col-sm-12 text-right padding wow slideInUp animated animated" style="visibility: visible; animation-name: slideInUp;">
                        <a href="/tin-tuyen-sinh/thong-bao-tuyen-sinh" class="text-red text-bold"><i class="fa fa-plus-square fa-1 text-red" aria-hidden="true"></i> Xem tất cả</a>
                    </div>
                </div>
            </div>
            @* Tin liên quan *@
            <div class="block-content">
                @foreach (var item in Model.TinLienQuan)
                {
                    <div class="tinlienquan">
                        <a style="background-color:@item.Mau;" href="@item.LienKet">
                            <span class="top" style="display:inline-block;">&nbsp;&nbsp;@item.TieuDe</span>
                        </a>
                    </div>
                }
            </div>
            @* Liên kết đăng ký trực tuyến *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Đăng ký trực tuyến</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/dang-ky">
                        <img class="wi-100" src="~/assets/client/img/banner/img/DANGKYTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Đăng ký tư vấn trực tiếp *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Hỏi đáp</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/hoi-dap">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TUVANTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Tra cứu kết quả *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Tra cứu kết quả</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/ket-qua">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TRACUUKETQUA.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
